- name: Prepare users home
  ansible.builtin.user:
    name: "{{ project_user }}"
    shell: /bin/bash
    groups: docker
    append: yes

- name: Prepare directory structure
  file:
    path: "/home/{{ project_user }}/{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default(project_user) }}"
    mode: "{{ item.mode | default('0750') }}"
  with_items: "{{ project_dirs }}"

- name: Deploy compose file
  copy:
    content: "{{ project_compose }}"
    dest: "/home/{{ project_user }}/docker-compose.yaml"
    owner: "{{ project_user }}"
    mode: "0640"

- name: Deploy .env file
  template:
    src: env.j2
    dest: "/home/{{ project_user }}/.env"
    owner: "{{ project_user }}"
    mode: "0640"
  when: project_envs

- name: Deploy extra files
  copy:
    content: "{{ item.content }}"
    dest: "/home/{{ project_user }}/{{ item.dest }}"
    owner: "{{ project_user }}"
    mode: "{{ item.mode | default('0640') }}"
  with_items: "{{ project_extra_files | default([]) }}"
  when: project_extra_files is defined
  notify:
    - Restart service {{ project_user }}

- name: Deploy systemd service
  template:
    src: docker-compose.service.j2
    dest: "/etc/systemd/system/docker-{{ project_user }}.service"

- name: Start service
  systemd:
    daemon_reload: yes
    name: "docker-{{ project_user }}.service"
    state: started
    enabled: yes

