# Managed by ansible (docker-compose)
[Unit]
Description=%i service with docker compose {{ project_user }}
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
User={{ project_user }}
Group={{ project_user }}
WorkingDirectory=/home/{{ project_user }}/
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
